.images {
    display: block;
    margin: auto;
    width: 1000px;
    height: 650px;
    border-radius: 3%;
}

img {
    display: block;
    margin: auto;
    width: 1000px;
    border-radius: 3%;
}

.form-container {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    color: #EFEFF1;
    background-color: #1f1f23;
}

h1 {
    color: #EFEFF1;
    text-align: center;
    font-weight: 500;
    margin: 2%;
}

h3 {
    color: #EFEFF1;
    text-align: center;
    font-weight: 500;
    font-size: 150%;
    margin: 2%;
}

p {
    margin: 2%;
}

.carousel-caption {
    color: #EFEFF1;
    width: 1000px;
    margin-left: -17px;
    background-color: #0e0e10;
    border-radius: 3%;
}

#dashboard {
    margin-left: 22%;
    width: 170px;
    height: 45px;
    color: #efeff1;
    background-color: #a970ff;
}


#home {
    margin-left: 37%;
    width: 170px;
    height: 45px;
    color: #efeff1;
    background-color: #449128;
}