.form-container { 
    width: 500px;
    color: #EFEFF1;
    background-color: #a970ff; 
}

.mat-raised-button {
    margin-top: 40px;
    margin-left: 165px;
    color: #7b1fa2;
    background-color: #EFEFF1;
}

