<body>
  <div class="form-container">

    <h1>Nuevo usuario</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Nombre de usuario" formControlName="name" />
        <mat-error *ngIf="name?.errors?.['required']">
          <p style="color: black;">¡Nombre obligatorio!</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Dirección de email" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          <p style="color: black;">¡Email obligatorio!</p>
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          <p style="color: black;">¡No es un email válido!</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']">
          <p style="color: black;">¡Contraseña obligatoria!</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Confirme contraseña" formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          <p style="color: black;">¡Confirma la contraseña!</p>
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        <p style="color: black;">¡Las contraseñas no coinciden!</p>
      </mat-error>
      <div>
        <button type="submit" class="mat-raised-button">Registrarse</button>
      </div>
    </form>
  </div>
</body>