<div class="form-container">
  <h1>Añadir compra</h1>

  <form [formGroup]="CoinForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">

      <mat-form-field>
        <input type="text" matInput formControlName="coin" placeholder="Moneda" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput formControlName="amount" placeholder="Cantidad" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput formControlName="price" placeholder="Precio de compra" />
      </mat-form-field>

      <mat-form-field>
        <input type="date" matInput formControlName="date" placeholder="Fecha" />
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput formControlName="notes" placeholder="Notas" />
      </mat-form-field>

      <mat-form-field *ngIf="user$ | async as user">

        <input type="text" matInput formControlName="user"
          placeholder="Confirme compra escribiendo su nombre: {{ user.displayName }}">

      </mat-form-field>
    </div>

    <button [disabled]="!CoinForm.valid" type="submit" mat-raised-button>Añadir</button>
  </form>
</div>