html,
body {
  height: 100%;
  background-color: #0e0e10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container {
  display: block;
  margin: auto;
  background: #eceff1;
  padding: 48px;
  border-radius: 16px;
}

.form-control {
  width: 80%;
  margin: 0 auto;
}

.container {
  margin-top: 30px;
  color: #0077B6;
}